*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
.main-heading{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Helvetica Neue', sans-serif;
}
.image{
    height: 150px;
    width: auto;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.my-info{
    margin-left: 10px;
    font-family: serif;
}

.name{
    font-size: 30px;
    color: black;
}

.phone-num{
    color: black;
}
.phone-num a{
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}
.email-id{
    color: black;
}
.email-id a{
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}
.address{
    color: blueviolet;
    font-weight: bold;
}
.address b{
    color: black;
}



#container-icon{
    display: flex;
    gap: 10px;
} 

.social-icon{
    mix-blend-mode: color-dodge;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
}

.social-icon:hover{
    height: 80px;
    width: 80px;
}

.icon{
    border-radius: 10px;
    position: relative;
    left: 10px;
    top: 10px;
    width: 50px;
    max-inline-size: 60%;
} 