*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* line-height: 1.5; */
}

/* header style open */
.header h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Helvetica Neue', sans-serif;
}
.image{
    height: 150px;
    width: auto;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.my-info{
    margin-left: 20px;
    font-family: serif;
}

.name{
    font-size: 30px;
    color: black;
}

.phone-num{
    color: black;
}

.phone-num a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.email-id{
    color: black;
}

.email-id a{
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.address{
    color: black;
    font-weight: bold;
}
/* header style close */

/* main style open */
/* objective intro section style */
.objective-intro{
    margin-left: 20px;
    margin-bottom: 10px;
}
.objective-intro h3{
    color: black;
    font-weight: 900;
}
.objective-intro p{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}

/* Education section style */
.education-intro{
    margin-left: 20px;
    margin-bottom: 10px;
}
.education-intro h3{
    color: black;
    font-weight: 900;
}
.education-intro ul{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}
.education-intro ul li{
    list-style: none;
}

/* certificat section style */
.certificat-section{
    margin-left: 20px;
    margin-bottom: 10px;
}

.certificat-section h3{
    color: black;
    font-weight: 900;
}

.certificat-section ul{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}

.certificat-section ul li{
    list-style: none;
}

/* skill section styling */
.skill-section{
    margin-left: 20px;
    margin-bottom: 10px;
}
.skill-section h3{
    color: black;
    font-weight: 900;
}
.skill-section ul{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}
.skill-section ul li{
    list-style: none;
}

/* hobbies section style */
.hobbie-section{
    margin-left: 20px;
    margin-bottom: 10px;
}
.hobbie-section h3{
    color: black;
    font-weight: 900;
}
.hobbie-section ul{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}
.hobbie-section ul li{
    list-style: none;
}

/* language section style */
.language-section{
    margin-left: 20px;
    margin-bottom: 10px;
}
.language-section h3{
    color: black;
    font-weight: 900;
}
.language-section ul{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}
.language-section ul li{
    list-style: none;
}

/* personal details section style */
.detail-section{
    margin-left: 20px;
    margin-bottom: 10px;
}
.detail-section h3{
    color: black;
    font-weight: 900;
}
.detail-section ul{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}
.detail-section ul li{
    list-style: none;
}

/* social media icon */
.social-icon{
    margin-left: 20px;
    margin-bottom: 10px;
}
.social-icon h3{
    color: black;
    font-weight: 900;
}
.container-icon{
    display: flex;
    gap: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-icon i{
    font-size: 50px;

}
/* main style close */

/* declertion section style */
.foot{
    margin-left: 20px;
    margin-bottom: 10px;
}
.foot h3{
    color: black;
    font-weight: 900;
}
.foot p{
    color: black;
    font-size: 20px;
    line-height: 1.5;
}